.linkedin {
    width: 100px;
    height: 100px;
  }
  
  .linkedin img {
    width:100%; 
    transition: 0.5s all ease-in-out;
  }

  .linkedin:hover img {
    transform: scale(1.3);
    animation-name: animatedlinkedin;
    animation-duration: 1s;
    animation-iteration-count: 1; 
  }

  @keyframes animatedlinkedin{
    0%{transform: rotate(90deg);}
    50%{filter: hue-rotate(90deg);}
    100%{filter: hue-rotate(180deg)}
}